table {
        margin: 10px;
        width: 85%;
        font-size: 18px;
        text-align: center;
        border-radius: 20px;
        background-color: #FFD089;
        font-family: 'Mitr', sans-serif;
    }
